[Unit]
Description=Aria2c
After=network.target

[Service]
Type=simple
ExecStart=aria2c --conf-path=/home/cch/.local/aria2/aria2.conf

[Install]
WantedBy=default.target
